.nav {
  background: orangered;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav :global(.active) {
  background: green;
}
:global(.test) {
  background-color: red;
}
